# .env.example
device_name="raspotify (spotipy)"
default_volume=50

SPOTIFY_BEN_CLIENT_ID=
SPOTIFY_BEN_CLIENT_SECRET=
SPOTIFY_BEN_REFRESH_TOKEN=

SPOTIFY_NICOLA_CLIENT_ID=
SPOTIFY_NICOLA_CLIENT_SECRET=
SPOTIFY_NICOLA_REFRESH_TOKEN=

SPOTIFY_KIDS_CLIENT_ID=
SPOTIFY_KIDS_CLIENT_SECRET=
SPOTIFY_KIDS_REFRESH_TOKEN=
